@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body , html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img{
    transition: transform .3s ease;

}
img:hover{
    transform: scale(1.1);
}
.btn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.371);
}
li:hover{
    color: #fc036b;
    cursor: pointer;
}

.nav{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin: 0 30px;
}
.nav-menu li a{
    color: whitesmoke;;
}
.nav-menu li:first-child a {
    color: #fc036b;
    font-weight: bold;
}
header{
    background-image: url(./images/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-section{
    margin: 150px;
    color: whitesmoke;
    text-align: center;
}
.first-section h2{
    font-size: 3vmin;
}
.line{
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.first-section h1{
    font-size: 8vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn{
    padding: 8px 20px;
    background-color: #fc036b;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 3vmin;
}
.menu-btn{
    position: absolute;
    top: 40px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Events */
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #484872;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img {
    padding-bottom: 10px;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    margin: 20px auto;
    color: #484872;
}
p{
    padding: 0px 40px;
    color: #484872;
}
.events .btn{
    margin-top: 30px;
}

/*Explore */
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./images/sea.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 80%;
    height: 53%;
    color: #484872;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin-left: 4%;
}
.explore-content h1{
    font-size: 7vmin;
    margin: 0 40px;
    color: #484872;
}
.explore-content .line{
    margin: 20px 40px;
}
.explore-content p{
    color: #484872;
    margin-bottom: 30px;
}
.explore-content .btn{
    margin: 40px;
}

/* Tours gallery */
.tours .row .col{
    width: 50%;
}
.tours .img-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.img-gallery img{
    width: 250px;
    margin: 10px;
}
.content-col{
    width: 40%;
}
.content-col h1{
    font-size: 7vmin;
    color: #484872;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
    color: #484872;
}

/* footer */
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
}

/* for mobiles */
@media only screen and (max-width:850px){
    .nav{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-menu{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: cadetblue;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-menu li{
        margin: 30px auto;
    }
    .menu-btn{
        display: block;
    }
    /* Events */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    /* Explore */
    .explore-content{
        width: 100%;
        height: 65%;
        margin-right: 3%;
    }
    .explore-content h1{
        width: 100%;
    }
    /* Tours */
    .tours .col{
        width: 100%;
    }
    .content-col h1{
        font-size: 4vmin;
    }
    .content-col p{
        width: 100%;
    }
    .img-gallery img{
    width: 250px;
    margin: 10px;
}
    .footer{
        padding: 10px;
    }
}
